

.default {
    --bg-color: #6b61ff;
    --bg-color-light: #bfbaff;
    --text-color-hover: #fdfdfd;
    --box-shadow-color: rgba(113, 97, 255, 0.48);
  }
  
.warning {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
  }
  
  .success {
    --bg-color: #b8f9d3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .danger {
    --bg-color: #ceb2fc;
    --bg-color-light: #f0e7ff;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }
  
  .info {
    --bg-color: #dce9ff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  
.service--card {
    width: 600px;
    height: 500px;
    background: rgb(219, 186, 186);
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  
  .service--card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .service--card:hover .overlay {
    transform: scale(5) translateZ(0);
  }
  
  .service--card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .service--card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .service--card:hover p {
    color: var(--text-color-hover);
  }
  
  .service--card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .service--card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
 
  
  img {
    z-index: 10000;
    transform: translateZ(0);
    max-width: 500px;
    max-height: 200px;
    border-radius: 5%;
  }
  


  .item-title{
    margin-right: 200px;
    font-size: 2vh;
  }